<div id="<%= dom_id customer_order %>">
  <p>
    <strong>Name:</strong>
    <%= customer_order.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer_order.address %>
  </p>

  <p>
    <strong>Amount ordered:</strong>
    <%= customer_order.amount_ordered %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= customer_order.phoneNumber %>
  </p>

</div>
